body {
    background-color: #070720;
}

.brewery_header {
    color:white;
    margin-left: 6%;
    font-family: Calibri, Candara, Segoe, "Segoe UI";
    font-size:40px;
}

.divider {
    position: static;
    background-color: #28283e;
    border: 5px #2c2c40;
    width: calc(100.25% - 6%);
    height: 50px;
    margin-right: 0;
    margin-left: 6%;
}

.dotd_container { 
    position: absolute;
    background-color: #17172E;
    border: 5px #2c2c40;
    width: 16%;
    height: 45%;
    left: 6.25%;
    margin-left: auto;
    margin-top: 2%;
}

.dotd_image {
    position: static;
    width: 90%;
    height: 75%;
    margin-left: 5%;
    margin-top: 5%;
}

.dotd_header {
    position: absolute;
    color: white;
    margin-top: auto;
    top: -50px;
    font-family: Calibri, Candara, Segoe, "Segoe UI";
    font-size: 40px;
}

.dotd_name {
    position: relative;
    color: white;
    margin-top: auto;
    margin-left: auto;
    left: 35%;
    top: 3%;
    font-family: Calibri, Candara, Segoe, "Segoe UI";
    font-size: 30px;
}

.dotd_rating {
    position: absolute;
    color:white;
    margin-top: auto;
    margin-left: auto;
    font-family: Calibri, Candara, Segoe, "Segoe UI";
    font-size: 30px;
    left: 45%;
    top: 90%;
}

.dotd_like {
    position: absolute;
    background-color: #17172E;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-top: auto;
    left: 25%;
    top: 90%;
}

.dotd_dislike {
    position: absolute;
    background-color: #17172E;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-top: auto;
    left: 60%;
    top: 90%;
}
/*
.list_container {
    position: absolute;
    background-color: white;
    border: 5px #2c2c40;
    width: 84%;
    height: 800px;
    right: 0;
    margin-left: 800px;
    margin-top: -800px;
}
*/